.project {
    animation: opaticy var(--opacity-time) linear;
}

.project-contents {
    max-width: 33rem;
    padding: 1rem;
}

.project-contents > h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.project-contents > ul {
    list-style-type: none;
    max-width:fit-content;
    margin: auto;
    padding: 2rem;
    border: 2px solid black;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.project-contents > ul > li {
    margin-top: 0.5rem;
    /* margin-left: 50%;
    transform: translateX(-50%) */
}

#to-top {
    height: 2rem;
    width: 2rem;
    border-radius: 100px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    bottom: 6rem;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

#to-top:hover {
    cursor: pointer;
    background-color: var(--color-proceed-blue);
}

.arrow-up {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.hidden {
    visibility: hidden;
}

img {
    width: 100%;
}

#anchor {
    position: absolute;
    top: -20rem;
}