/* 
---Table of Contents---

-Colors
-Fonts
-HTML Tags
-Custom containers
-Navigation

-----------------------
*/

:root {
    --color-cream: #989591;
    --color-gray-light: #E2E0D5ff;
    --color-gray-dark: #4D4B4C;
    --color-white: #fdfffc;
    --color-brown-dark: #191009;
    --color-brown-light: #87694E;
    --color-silver: #E6E6EA;

    --color-correct-green: #1ce24e;
    --color-proceed-blue: #0A46E4;

    --color-navbar: var(--color-silver);

    --font-body: 'Open Sans', sans-serif;
    --font-size: 1.3rem;
    --max-text-width: 38rem;
    --opacity-time: 0.4s
}
  
html {
box-sizing: border-box;
}
  
*,
*::before,
*::after {
box-sizing: inherit;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: #F4F4F8;
    color: var(--color-brown-dark);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-body);
}

h1 {
    margin: 0;
    padding: 0;
}

p {
    font-size: var(--font-size);
    line-height: 2rem;
}

.header {
    background-color: var(--color-navbar);
    overflow: hidden;
    border-bottom: solid 1px black;
}

.main {
    margin: 0 auto;
    max-width: 70rem;
    position: relative;
    top: 5rem;
}

@keyframes opaticy {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 

.footer {
    height: 5rem;
    margin-top: auto;
    background-color: var(--color-navbar);
    position: relative;
    top: 5rem;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.container-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navigtion */

.header a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-brown-dark);
    float: left;
    display: block;
    text-align: center;
    line-height: 5rem;
    padding: 1rem 2rem;
}

#header__logo span {
    border: 0.3rem solid var(--color-brown-dark);
    border-radius: 0.3rem;
    cursor: pointer;
    padding: 0.3rem;
}

.hamburger-container {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {

    .main, .footer {
        position: relative;
        top: 7rem;
    }

    .header {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 1;
        max-height: 7rem;
        transition: max-height 500ms;
    }

    #header__logo {
        margin-right: auto;
    }

    .header a:not(:first-child) {
        flex: 0 0 auto;
        text-align: left;
    }

    .hamburger-container {
        position: absolute;
        top:0;
        right: 0;
        float: right;
        display: block;
        padding: 1rem 2rem;
        z-index: 2;
    }
    
    .hamburger {
        position: relative;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        box-shadow: none;
        background-color: var(--color-navbar);
        border: none;
        outline: none;
        height: 5rem;
    }

    .hamburger > * {
        display: block;
        width: 2rem;
        height: 0.3rem;
        background-color: var(--color-brown-dark);
        transition: transform 300ms;
    }

    .hamburger .line-second{
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }

    .hamburger-active > .line-first {
        transform: rotate(45deg);
        position: absolute;
        transition: transform 300ms;
        width: 2rem;
        height: 0.3rem;
    }
    
    .hamburger-active > .line-second {
        transform: rotate(-45deg);
        position: absolute;
        transition: transform 300ms;
    }
    
    .hamburger-active > .line-third {
        opacity: 0;
    }
}

@media screen and (max-width: 600px) {

    .header.responsive {
        display: flex;
        flex-direction: column;
        max-height: 30rem;
        transition: max-height 500ms;
        position: fixed;
        top: 0;
    }

    .header.responsive a {
        flex: 0 0 auto;
        text-align: left;
    }

    .header.responsive a:not(:first-child):hover {
        background-color: var(--color-white);
    }

    .header.responsive .hamburger-container {
        position: absolute;
        top: 0;
        right: 0;
    }

    .header.responsive a:first-child {
        cursor: default;
    }
}