.index {
    animation: opaticy var(--opacity-time) linear;
    width: 100%;
}

.intro p {
    padding: 2rem;
    margin: auto;
    max-width: var(--max-text-width);
}

.icons {
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--color-silver);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 90vw;
    max-width: var(--max-text-width);
}

.icons div {
    /* border-radius: 0.5rem;
    background-color: var(--color-gray-dark);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    margin-left: 1rem;
    margin-right: 1rem;
}

.icons p {
    color: var(--color-brown-dark);;
    margin-bottom: 0;
}

.section.projects {
    /* background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    border-radius: 0.5rem;
    /* margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem; */
}

.resume {
    /* background-color: var(--color-gray-dark);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem; */
}

.resume__image-container {
    max-width: 10rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.resume__image-container img:hover {
    opacity: 0.5;
}

.resume a {
    text-decoration: none;
    padding: 1rem;
    background-color: var(--color-gray-dark);
    color: white;
    border-radius: 0.2rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin: 1rem;
}

@media only screen and (min-width: 600px) {

    .resume a:hover {
        background-color: var(--color-proceed-blue);
        color: white;
    }

    .resume a:active {
        background-color: var(--color-correct-green);
        color: white;
    }
}

.resume > div:hover {
    cursor: pointer;
}