.index {
    animation: opaticy var(--opacity-time) linear;
    width: 100%;
}

.intro p {
    padding: 2rem;
    margin: auto;
    max-width: var(--max-text-width);
}

.icons {
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--color-silver);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 90vw;
    max-width: var(--max-text-width);
}

.icons div {
    /* border-radius: 0.5rem;
    background-color: var(--color-gray-dark);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    margin-left: 1rem;
    margin-right: 1rem;
}

.icons p {
    color: var(--color-brown-dark);;
    margin-bottom: 0;
}

.section.projects {
    /* background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    border-radius: 0.5rem;
    /* margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem; */
}

.resume {
    /* background-color: var(--color-gray-dark);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem; */
}

.resume__image-container {
    max-width: 10rem;
    height: 15rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    position: relative;
    display: inline-block;
}

.resume a {
    text-decoration: none;
    padding: 1rem;
    background-color: var(--color-gray-dark);
    color: white;
    border-radius: 0.2rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin: 1rem;
}

.resume__image-container .tooltiptext {
    display: none;
}

@media only screen and (min-width: 600px) {

    .resume__image-container img:hover {
        opacity: 0.5;
    }

    .resume__image-container .tooltiptext {
        display:inline-block;
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 105%;
    }

    .resume__image-container .tooltiptext::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%; /* To the left of the tooltip */
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent black transparent transparent;
    }
    
    .resume__image-container:hover .tooltiptext {
        visibility: visible;
    }

    .resume > div:hover {
        cursor: pointer;
    }

    .resume a:hover {
        background-color: var(--color-proceed-blue);
        color: white;
    }

    .resume a:active {
        background-color: var(--color-correct-green);
        color: white;
    }
}